<aside id="aSide">
    <div class="menuIcon">
        <a href="/">
            <img class="icoBar" src="../icons/home.png">
            <p class="legendaIcoBar">HOME</p>
        </a>
    </div>
    <div class="menuIcon">
        <a href="/economia">
            <img class="icoBar" src="../icons/economia.png">
        <p class="legendaIcoBar">Economia</p>
        </a>
    </div>
    <div class="menuIcon">
        <img class="icoBar" src="../icons/pizza.png">
        <p class="legendaIcoBar">Composição do Mercado</p>
    </div>
    <div class="menuIcon">
        <img class="icoBar" src="../icons/barras.png">
        <p class="legendaIcoBar">Evolução do Mercado</p>
    </div>
    <div class="menuIcon">
        <img class="icoBar" src="../icons/rank.png">
        <p class="legendaIcoBar">Rankings</p>
    </div>
    <div class="menuIcon">
        <img class="icoBar" src="../icons/resultado.png">
        <p class="legendaIcoBar">Resultado Técnico</p>
    </div>
    <div class="menuIcon">
        <img class="icoBar" src="../icons/balanco.png">
        <p class="legendaIcoBar">Análise de Balanços</p>
    </div>
    <div class="menuIcon">
        <img class="icoBar" src="../icons/grupoEco.png">
        <p class="legendaIcoBar">Grupos Econômicos</p>
    </div>
    <div class="menuIcon">
        <img class="icoBar" src="../icons/grupoPro.png">
        <p class="legendaIcoBar">Produtos</p>
    </div>
</aside>