<!DOCTYPE html>
<html lang="pt" >
   <head> 
      <title>Almanaque de Indicadores - Análise Econômica</title>
      <%- include('metacomum'); %>
      <link rel="stylesheet" href="../style/economia.css">
   </head>
   <body> 
      <%- include('nav'); %>
      <%- include('aside'); %>
      <main>
         <%- include('economiaConteudo'); %>
      </main>
   </body>
   <script src="./scripts/aside.js"></script>
</html>