<conteudo>
    <texto>
        <tituloTexto>Análise Econômica</tituloTexto>
        <p>
            Este é um resumo sobre os 5 principais indicadores econômicos.
            Entre os principais indicadores, apresentamos o PIB (Produto Interno Bruto), 
            que representa a soma das riquezas produzidas.   Em paralelo analisamos a 
            penetração do mercado de seguros e em qual velocidade a evolução desse indicador
            ocorre. Na sequência aprensentamos as taxas de inflação (para medir a perda do 
            poder de compra), as taxas de câmbio (para medir a força da nossa moeda em 
            relação as demais), taxa de juros (para medir a rentabilidade dos investimentos)
            e a taxa de desemprego (para medir a parte frágil da população economicamente
            ativa). A intenção deste capítulo é oferecer um contexto externo e inerente ao
            mercado.
        </p>
    </texto>
</conteudo>
<conteudo>
    <texto>
        <graficoArea>
            <t>PIB e Penetração do Mercado de Seguros (exceto Saúde)</t>
            <graficoPeq>
                <graph id="PIBgraph"></graph>
                <dados id="PIBdata"></dados>
            </graficoPeq>
            <p>Este gráfico apresenta a evolução histórica do Produto Interno Bruto em comparação a soma do Prêmio Direto registrado pela SUSEP (por tanto, não considera os valores referentes ao seguro Saúde). O Índice de Penetração é obtido a partir da divisão do Prêmio Direto pelo PIB, que representa em valor percentual a relevância do Mercado de Seguros em relação ao que o País produz anualmente. É...<mais>Ver Mais</mais></p>
        </graficoArea>

        <t>Inflação</t>
        <p>Donec arcu arcu, finibus id semper rutrum, scelerisque nec elit. Integer sed volutpat velit. Pellentesque ut leo ipsum. Proin at blandit nibh, eget viverra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ullamcorper, lectus nec ultricies ullamcorper, odio lacus laoreet mauris, vitae commodo dolor orci sodales nunc...<mais>Ver</mais></p>
        <t>Taxa de Câmbio</t>
        <p>Donec arcu arcu, finibus id semper rutrum, scelerisque nec elit. Integer sed volutpat velit. Pellentesque ut leo ipsum. Proin at blandit nibh, eget viverra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ullamcorper, lectus nec ultricies ullamcorper, odio lacus laoreet mauris, vitae commodo dolor orci sodales nunc...<mais>Ver</mais></p>
        <t>Balança Comercial</t>
        <p>Donec arcu arcu, finibus id semper rutrum, scelerisque nec elit. Integer sed volutpat velit. Pellentesque ut leo ipsum. Proin at blandit nibh, eget viverra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ullamcorper, lectus nec ultricies ullamcorper, odio lacus laoreet mauris, vitae commodo dolor orci sodales nunc...<mais>Ver</mais></p>
        <t>Taxa de Desemprego</t>
        <p>Donec arcu arcu, finibus id semper rutrum, scelerisque nec elit. Integer sed volutpat velit. Pellentesque ut leo ipsum. Proin at blandit nibh, eget viverra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ullamcorper, lectus nec ultricies ullamcorper, odio lacus laoreet mauris, vitae commodo dolor orci sodales nunc...<mais>Ver</mais></p>
        
        <p>
            Artigos Publicados:
            <ul>
                <li>
                    <a>Título Artigo 1 - Data</a>
                </li>
                <li>
                    <a>Título Artigo 2 - Data</a>
                </li>
                <li>
                    <a>Título Artigo 3 - Data</a>
                </li>
                <li>
                    <a>Título Artigo 4 - Data</a>
                </li>
                <li>
                    <a>Título Artigo 5 - Data</a>
                </li>
            </ul>
        </p>
    </texto>
</conteudo>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="../scripts/pib.js"></script>
