<!DOCTYPE html>
<html lang="pt" >
   <head> 
      <title>Almanaque de Indicadores</title>
      <%- include('metacomum'); %>
   </head>
   <body> 
      <%- include('nav'); %>
      <%- include('aside'); %>
      <main>
         <%- include('menu'); %>
      </main>
   </body>
   <script src="./scripts/aside.js"></script>
</html>
