<link rel="stylesheet" href="../style/menu.css">
<menu>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/economia.png">
            <p class="legendaArticle">Análise Econômica</p>
        </a>
    </article>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/pizza.png">
            <p class="legendaArticle">Composição do Mercado</p>
        </a>
    </article>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/barras.png">
            <p class="legendaArticle">Evolução do Mercado</p>
        </a>
    </article>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/rank.png">
            <p class="legendaArticle">Rankings</p>
        </a>
    </article>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/resultado.png">
            <p class="legendaArticle">Resultado Técnico</p>
        </a>
    </article>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/balanco.png">
            <p class="legendaArticle">Análise de Balanços</p>
        </a>
    </article>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/grupoEco.png">
            <p class="legendaArticle">Grupos Econômicos</p>
        </a>
    </article>
    <article>
        <a href="/economia">
            <img class="icoArticle" src="../icons/grupoPro.png">
            <p class="legendaArticle">Produtos</p>
        </a>
    </article>
 </menu>