<%- include('metacomum'); %>
<link href="../style/backup/main.css" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="../graph/PIB_Mercado_Corrente/pib.js"></script>
<body>
    <nav>
        Relatório de Acompanhamento do Mercado de Seguros*
    </nav>

    <section class="corpo">

        <div class="subnav">
            <p>
                <a href="/">VOLTAR</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indicadores Econômicos - Brasil
            </p>
            
        </div>

        <div id="graf_PIB" style="width: 100%;"></div>
    
    </section>
    
    <footer>
        <p class="rodape">MVP (Minimium Viable Product) - Relatório dinâmico de Acompanhamento do Mercado de Seguros - Criado por Bruno Rodrigues de Carvalho - Abril/2021</p>
    </footer>
    
</body>